/* General */
html {
    font-size: 10px;
    font-family: monospace;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Body layout */
header {
    display: flex;
    justify-content: center;

    background-color: #BFD1FF;
    font-size: 5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: skyblue;
    background-image: url("./images/cloud1.png");
    font-size: 3em;

    height: 800px; 
}

footer {

    display: flex;
    justify-content: center;

    background-color: #BFD1FF;
    font-size: 2em;
    
    padding: 1.1em;
}

/* Calculator */
#calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 600px;

    background-color: #92B8FF;
    border-radius: 5%;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 100px;

    margin-top: 50px;

    background-color: white;
    font-size: 1.6em;
}

.buttons {
    display: grid;

    width: 300px;
    height: 400px;

    margin-top: 20px;

    background-color: darkgray;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1px;
    gap: 0.1em;
    list-style-type: none;
    font-size: 0.9em;
    
}
ul {
    padding: 0;
}

li {
   border: 2px solid black;
   border-radius: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0C4D71;
   color: #FFF;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}